<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot Example</title>
    </head>
    <body>
        Hello World
        <h2>Management Endpoints</h2>
        <ul>
            <li><a target="_blank" th:href="@{/autoconfig}">autoconfig</a></li>
            <li><a target="_blank" th:href="@{/beans}">beans</a></li>
            <li><a target="_blank" th:href="@{/configprops}">configprops</a></li>
            <li><a target="_blank" th:href="@{/dump}">dump</a></li>
            <li><a target="_blank" th:href="@{/env}">env</a></li>
            <li><a target="_blank" th:href="@{/health}">health</a></li>
            <li><a target="_blank" th:href="@{/info}">info</a></li>
            <li><a target="_blank" th:href="@{/metrics}">metrics</a></li>
            <li><a target="_blank" th:href="@{/mappings}">mappings</a></li>
            <li><a target="_blank" th:href="@{/trace}">trace</a></li>
        </ul>
    </body>
</html>